/* Hide the Shorts link in the left sidebar */
a[title="Shorts"] {
  display: none !important;
}

/* Hide the horizontal Shorts shelves on the homepage */
ytd-rich-shelf-renderer[is-shorts] {
  display: none !important;
}

/* Hide the horizontal Shorts shelves on the search results page */
grid-shelf-view-model {
    display: none !important;
}

/* Hide videos on the homepage */
ytd-two-column-browse-results-renderer[page-subtype="home"] {
    display: none !important;
}

/* Hide video recommendations on video end screen */
div[class="ytp-fullscreen-grid-stills-container"] {
    display: none !important;
}

/* Hide recommended videos on the video page sidebar */
/* ytd-item-section-renderer[class="style-scope ytd-watch-next-secondary-results-renderer"] {
    display: none !important;
} */

/* Hide the entire sidebar on the video page */
div[id="secondary"][class="style-scope ytd-watch-flexy"] {
    display: none !important;
}

/* Hide the Shorts tab on the channel page */
yt-tab-shape[tab-title="Shorts"] {
    display: none !important;
}

/* Hide the Shorts in the Shorts tab on the channel page
   only relevant if you type the Shorts tab URL directly, since the tab is hidden */
ytd-rich-item-renderer[is-shorts-grid] {
    display: none !important;
}

/* Hide Shorts shelves on the channel page */
ytd-reel-shelf-renderer {
    display: none !important;
}

/* Hide Shorts in the 'For you' section on the channel page */
ytm-shorts-lockup-view-model {
    display: none !important;
}

/* also the wrapper */
ytm-shorts-lockup-view-model-v2 {
    display: none !important;
}
